# Dependencies
node_modules/
*/node_modules/
package-lock.json

# Production build outputs
dist/
*/dist/

# Local & OS files
.DS_Store
Thumbs.db
*.log

# Environment variables
.env
.env.local
.env.*.local
presentation/.vercel/
